<mat-grid-list cols="50" rowHeight="1:1">
  <mat-grid-tile
    *ngFor="let node of nodes"
    id="node{{ node.id }}"
    (mousedown)="cellClicked(node.id, $event)"
    (mouseup)="cellUnClicked(node.id)"
    (mouseenter)="cellEntered(node.id)"
    (mouseleave)="cellLeft(node.id)"
    class="unselectable {{ node.purposeString }}"
    ><mat-icon *ngIf="node.purpose == 1">arrow_forward_ios</mat-icon
    ><mat-icon *ngIf="node.purpose == 2"
      >radio_button_checked</mat-icon
    ></mat-grid-tile
  >
</mat-grid-list>
