mat-grid-list {
  margin: 10px;
  &:hover {
    cursor: crosshair;
  }
}

mat-grid-tile {
  background: lightblue;
  color: #0c3547;
}

.wall {
  background: #0c3547;
}

.start,
.end {
  &:hover {
    cursor: move;
  }
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
