<table class="legend">
    <tr>
        <td>
            <button mdbBtn type="button" color="blue-grey" mdbWavesEffect>Visualize Dijkstra</button>
        </td>

        <th>
            <mat-icon>arrow_forward_ios</mat-icon>
        </th>
        <td>Start Node</td>
        <th>
            <mat-icon>radio_button_checked</mat-icon>
        </th>
        <td>End Node</td>
        <th><img src="assets/img/unvisited-node.png" alt="unvisited node" style="width: 30px;"></th>
        <td>Unvisited Node</td>
        <th><img src="assets/img/visited-node.png" alt="visited node" style="width: 30px;"></th>
        <td>Visited Node</td>
        <th><img src="assets/img/shortest-path-node.png" alt="shortest-path node" style="width: 30px;"></th>
        <td>Shortest-Path Node</td>
        <th><img src="assets/img/wall.png" alt="wall" style="width: 30px;"></th>
        <td>Wall</td>


    </tr>
</table>